.graphic_img {
  background-size: 100% 100%;
  height: 39rem;
}

.info {
  background: transparent;
  display: flex;
  flex-direction: row;
  height: auto;
}

.left-info-div {
  height: auto;
}

.right-info-div{
  height: auto;
}

.heading-vision {
  color: green;
}

.heading-mission {
  color: rgb(255, 115, 0);
}

.heading-values {
  color: rgb(106, 106, 201);
}


.vmv-div {
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 35rem;
}

.vmv-heading {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.6rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.vmv-text {
  padding-top: 0.8rem;
}

.admin-div {
  margin: 1.5rem;
  border-radius: 1rem;
  height: auto;
  width: 53rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: 0rem;
  padding: 1rem;
}

.admin-heading{
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}

.admin-pic {
  padding: 1rem;
  width: auto;
}

.admin-text {
  width: auto;
}

.right-info-div {
  background: transparent;
  width: 54rem;
}

.core-team-member-div {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
  height: auto;
  width: auto;
  justify-content: center;
}

.team-member-div{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  border-radius: 1rem;
  margin-top: 0rem;
  width: 91rem;
  padding: 1rem;
}

.team-member-heading{
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}